    html {
      min-height: 100%;
      height: fit-content;
    } 
      
   body {
      background-color: #fef6e4;  
      display: flex;
      justify-content: center;
      min-height: 100%;
      height: fit-content;
      padding: 20px;
      box-sizing: border-box;
      margin: 0;
    }

    .name {
      color: #001858;
      display: flex;
      justify-content: center;
      font-size: 24px;
    }

    .social-icons {
      display: flex;
      justify-content: space-around;
    }

    .social-icons a {
      color: #001858;
      text-decoration: none;
    }

    .link {
      background-color: #f9bc60;
      padding: 5px;
      border-radius: 500px;
      display: flex;
      align-items: center;
      transition: 0.3s;
    }


    .items {
      display: flex;
      margin: auto;
      flex-direction: column;
      gap: 30px;
      max-width: 640px;
      flex-grow: 1;
    }

    .link a {
      color: #001e1d;
      text-decoration: none;
      text-align: center;
      flex-grow: 1;
    }

    .banner {
      display: flex;
      justify-content: center;
    }

    * {
      border: thin red solid;
    }


    .banner-image{
      width: 128px;
      height: 128px;
      object-fit: cover;
      border-radius: 128px;
    }
    .thumbnail {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      object-fit: cover;
    }
